

.trip-popup {
    position: relative;
    flex: 1;
    max-width: 380px;
    padding: 25px 40px 30px;
    background-color: var(--color-white);
    box-shadow: var(--shadow);
  }
  
  .trip-popup__close {
    position: absolute;
    top: 15px;
    right: 25px;
    padding: 0;
    font-weight: 300;
    font-size: var(--font-size-400);
    line-height: 1;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .trip-popup__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .trip-popup__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    padding-top: 15px;
    border-top: 1px solid var(--color-gray);
  }
  
  .trip-popup__total-value {
    font-weight: 600;
    font-size: var(--font-size-400);
  }

  
.sign-up-page,
.sign-in-page {
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.sign-up-form,
.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 340px;
  margin-bottom: 30px;
}

.sign-up-form__title,
.sign-in-form__title {
  margin: 0 0 20px;
  font-size: var(--font-size-400);
  text-align: center;
}

.sign-up-form__link,
.sign-in-form__link {
  color: var(--color-blue-200);
  transition: 0.1s color ease;
}

.sign-up-form__link:hover,
.sign-in-form__link:hover {
  color: var(--color-blue-300);
}
